.mainContainer {
    width: 1800px;
    margin: auto;
}

.title{
    width: 100%;
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 2rem/20px Unna, serif;
}

@media only screen and (max-width:1440px){
    .mainContainer{
        width: 1300px;
        margin: auto;
    }
}


@media only screen and (max-width:1024px){
    .mainContainer{
        width: 900px;
        margin: auto;
    }
}

@media only screen and (max-width:800px){
    .mainContainer{
        width: 600px;
        margin: auto;
    }
}

@media only screen and (max-width:430px){
    .mainContainer{
        width: 350px;
        margin: auto;
    }
    .title{
        width: 100%;
        height: 116px;
        display: flex;
        justify-content: center;
        align-items: center;
        font: 1.2rem/20px Unna, serif;
    }

    .bodyContent{
        background-color: #2A2A2A;
        width: 350px;
        margin: auto;
    }
}

.bodyContent{
    background-color: #2A2A2A;
    width: 100%;
    height: 790px;
    margin: auto;
    border-radius: 4px;

    display:flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
}


.cardImage{
    width: 300px;
    height: 250px;
    background-color: whitesmoke;
    margin:20px;
}
