.footer{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    bottom: 0;
}

.socialMedia{
    width: 60px;
    display: flex;
    justify-content: space-between;
}

.image {
    object-fit: contain;
    width: 12% !important;
    position: relative !important;
    height: unset !important;
}

@media only screen and (max-width:1440px)  {
    .image {
        width: 20% !important;
    }
}

@media only screen and (max-width:1024px)  {
    .image {
        width: 25% !important;
    }
}

@media only screen and (max-width:800px){
    .image {
        width: 35% !important;
    }
}

@media only screen and (max-width:430px){
    .image {
        width: 50% !important;
    }

}

